-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: portfolio
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=105 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user`
--

DROP TABLE IF EXISTS `auth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
INSERT INTO `auth_user` VALUES (1,'pbkdf2_sha256$1000000$2JUr3s5ih4rjHPStsNXgYH$xu3SZIMxpKaJCmWV8aMT87ZF+tbpuR7172ANMoQJDmQ=','2025-09-16 13:11:14.078135',1,'isha','','','',1,1,'2025-08-13 06:23:09.803393'),(2,'pbkdf2_sha256$1000000$A5VcHwS3SwbDMlIeUtMBRC$5+qS5nnjiuk/LsZ2WvvDaUWucYrrxsrN9vDU+GS6rvc=','2025-09-29 08:21:16.181469',1,'ishajaswal','','','',1,1,'2025-09-29 08:20:24.724230');
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_groups`
--

DROP TABLE IF EXISTS `auth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_groups_user_id_group_id_94350c0c_uniq` (`user_id`,`group_id`),
  KEY `auth_user_groups_group_id_97559544_fk_auth_group_id` (`group_id`),
  CONSTRAINT `auth_user_groups_group_id_97559544_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `auth_user_groups_user_id_6a12ed8b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_user_permissions`
--

DROP TABLE IF EXISTS `auth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_user_permissions_user_id_permission_id_14a6b632_uniq` (`user_id`,`permission_id`),
  KEY `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `content_about`
--

DROP TABLE IF EXISTS `content_about`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `content_about` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `profile_image` varchar(100) NOT NULL,
  `bio` longtext NOT NULL,
  `github` varchar(200) NOT NULL,
  `linkedin` varchar(200) NOT NULL,
  `resume` varchar(100) NOT NULL,
  `subtitle` varchar(200) DEFAULT NULL,
  `title` varchar(100) DEFAULT NULL,
  `button_text` varchar(50) DEFAULT NULL,
  `read` varchar(50) DEFAULT NULL,
  `github_title` varchar(50) DEFAULT NULL,
  `linkedin_title` varchar(50) DEFAULT NULL,
  `bio1` longtext,
  `bio2` longtext,
  `bio3` longtext,
  `git_image` varchar(100) DEFAULT NULL,
  `lin_image` varchar(100) DEFAULT NULL,
  `background_image` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `content_about`
--

LOCK TABLES `content_about` WRITE;
/*!40000 ALTER TABLE `content_about` DISABLE KEYS */;
/*!40000 ALTER TABLE `content_about` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `content_abouthero`
--

DROP TABLE IF EXISTS `content_abouthero`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `content_abouthero` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `background_image` varchar(100) NOT NULL,
  `desc` longtext NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `content_abouthero`
--

LOCK TABLES `content_abouthero` WRITE;
/*!40000 ALTER TABLE `content_abouthero` DISABLE KEYS */;
INSERT INTO `content_abouthero` VALUES (1,'reflection-from-laptop-glasses-dark-background.jpg','Hi, I\'m Isha Jaswal. I design and develop websites that blend creativity, functionality, and performance - helping businesses and individuals build their digital presence with impact.');
/*!40000 ALTER TABLE `content_abouthero` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `content_certificate`
--

DROP TABLE IF EXISTS `content_certificate`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `content_certificate` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `issuing_organisation` varchar(100) NOT NULL,
  `issue_date` date NOT NULL,
  `contact_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `content_certificate_contact_id_52a9fa75_fk_content_c` (`contact_id`),
  CONSTRAINT `content_certificate_contact_id_52a9fa75_fk_content_c` FOREIGN KEY (`contact_id`) REFERENCES `content_contactinfo` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `content_certificate`
--

LOCK TABLES `content_certificate` WRITE;
/*!40000 ALTER TABLE `content_certificate` DISABLE KEYS */;
/*!40000 ALTER TABLE `content_certificate` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `content_contact`
--

DROP TABLE IF EXISTS `content_contact`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `content_contact` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `heading` varchar(100) DEFAULT NULL,
  `desc` longtext,
  `button_Text` varchar(50) DEFAULT NULL,
  `image` varchar(100) NOT NULL,
  `tagline` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `content_contact`
--

LOCK TABLES `content_contact` WRITE;
/*!40000 ALTER TABLE `content_contact` DISABLE KEYS */;
INSERT INTO `content_contact` VALUES (1,'Contact Me','Let\'s Work Together!\r\n\r\nHave an idea or project in mind?\r\nDrop me a message and let\'s make it happen.','Send Message','message.jpg','\"Open for freelance work & collaborations.\"');
/*!40000 ALTER TABLE `content_contact` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `content_contactdetails`
--

DROP TABLE IF EXISTS `content_contactdetails`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `content_contactdetails` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `email` varchar(30) NOT NULL,
  `phone` varchar(30) NOT NULL,
  `location` varchar(30) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `content_contactdetails`
--

LOCK TABLES `content_contactdetails` WRITE;
/*!40000 ALTER TABLE `content_contactdetails` DISABLE KEYS */;
INSERT INTO `content_contactdetails` VALUES (1,'iamishajaswal@gmail.com','7982932834','New Delhi, India');
/*!40000 ALTER TABLE `content_contactdetails` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `content_contactform`
--

DROP TABLE IF EXISTS `content_contactform`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `content_contactform` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(200) DEFAULT NULL,
  `email` varchar(254) DEFAULT NULL,
  `message` longtext,
  `created_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `content_contactform`
--

LOCK TABLES `content_contactform` WRITE;
/*!40000 ALTER TABLE `content_contactform` DISABLE KEYS */;
INSERT INTO `content_contactform` VALUES (10,'isha','iamishajaswal@gmail.com','trying','2025-09-09 12:40:30.188189'),(11,'Rainy Sikand','rainy.sikand@asb.edu.in','Hello','2025-09-10 08:31:40.438330'),(12,'test','test@email.com','testing','2025-09-10 10:40:37.750617'),(13,'Isha Jaswal','iamishajaswal@gmail.com','ui testing','2025-09-28 15:07:12.825069'),(14,'isha','isha@gmail.com','testing','2025-09-29 08:06:07.522097'),(15,'isha','isha@gmail.com','testing','2025-09-29 08:15:51.186230'),(16,'isha','isha@gmail.com','testing','2025-09-29 08:16:26.327305');
/*!40000 ALTER TABLE `content_contactform` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `content_contacthero`
--

DROP TABLE IF EXISTS `content_contacthero`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `content_contacthero` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `image` varchar(100) NOT NULL,
  `title` varchar(50) NOT NULL,
  `desc` longtext NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `content_contacthero`
--

LOCK TABLES `content_contacthero` WRITE;
/*!40000 ALTER TABLE `content_contacthero` DISABLE KEYS */;
INSERT INTO `content_contacthero` VALUES (1,'flat-lay-black-background-with-laptop-coffee-cup-calculator-top-view.jpg','CONTACT ME','Let\'s get in touch and build something');
/*!40000 ALTER TABLE `content_contacthero` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `content_contactinfo`
--

DROP TABLE IF EXISTS `content_contactinfo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `content_contactinfo` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `full_name` varchar(100) NOT NULL,
  `email` varchar(254) NOT NULL,
  `phone` varchar(100) NOT NULL,
  `linkedin` varchar(200) NOT NULL,
  `github` varchar(200) NOT NULL,
  `github_icon` varchar(100) NOT NULL,
  `linkedin_icon` varchar(100) NOT NULL,
  `contact_image` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `content_contactinfo`
--

LOCK TABLES `content_contactinfo` WRITE;
/*!40000 ALTER TABLE `content_contactinfo` DISABLE KEYS */;
INSERT INTO `content_contactinfo` VALUES (1,'Get In Touch','iamishajaswal@gmail.com','7982932834','https://www.linkedin.com/in/isha-jaswal-151014351','https://github.com/IshaJaswal04','Github_MS4frJP_PSK2c7A.png','Linkedin_89B0IN2.png','programmer_cat_oJHjCkH.png');
/*!40000 ALTER TABLE `content_contactinfo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `content_cta`
--

DROP TABLE IF EXISTS `content_cta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `content_cta` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `text` varchar(100) NOT NULL,
  `button_text` varchar(50) NOT NULL,
  `image` varchar(100) NOT NULL,
  `resume` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `content_cta`
--

LOCK TABLES `content_cta` WRITE;
/*!40000 ALTER TABLE `content_cta` DISABLE KEYS */;
INSERT INTO `content_cta` VALUES (1,'Lets bring your vision into reality','Get In Touch','digital-graphic-tablet-laptop-mock-up-with-office-objects-white-background_tl7EJ5X.jpg','resumes/My_resume_QT3ttpg.pdf');
/*!40000 ALTER TABLE `content_cta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `content_education`
--

DROP TABLE IF EXISTS `content_education`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `content_education` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(100) NOT NULL,
  `date` varchar(50) DEFAULT NULL,
  `description` longtext NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `content_education`
--

LOCK TABLES `content_education` WRITE;
/*!40000 ALTER TABLE `content_education` DISABLE KEYS */;
/*!40000 ALTER TABLE `content_education` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `content_experience`
--

DROP TABLE IF EXISTS `content_experience`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `content_experience` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(100) NOT NULL,
  `date` varchar(50) DEFAULT NULL,
  `description` longtext NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `content_experience`
--

LOCK TABLES `content_experience` WRITE;
/*!40000 ALTER TABLE `content_experience` DISABLE KEYS */;
INSERT INTO `content_experience` VALUES (3,'Web Development (Internship)','Jun 2025 - Aug 2025','Served as a Web Development Intern at TechConfer Technologies, for 3 months, contributing to the design , development, and deployment of web applications using HTML, CSS, JavaScript and  React. Gained hands-on experience with version control systems like Git and collaborated with cross-functional teams to deliver projects efficiently.');
/*!40000 ALTER TABLE `content_experience` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `content_footer`
--

DROP TABLE IF EXISTS `content_footer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `content_footer` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `order` int unsigned NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `email` varchar(100) NOT NULL,
  `icon` varchar(100) DEFAULT NULL,
  `phone` varchar(20) NOT NULL,
  `icon2` varchar(100) DEFAULT NULL,
  `heading` varchar(30) DEFAULT NULL,
  `heading2` varchar(30) DEFAULT NULL,
  `heading3` varchar(30) DEFAULT NULL,
  `icon2_desc` varchar(50) DEFAULT NULL,
  `icon_desc` varchar(50) DEFAULT NULL,
  `Gitlink` varchar(100) DEFAULT NULL,
  `Linkdinlink` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `content_footer_chk_1` CHECK ((`order` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `content_footer`
--

LOCK TABLES `content_footer` WRITE;
/*!40000 ALTER TABLE `content_footer` DISABLE KEYS */;
INSERT INTO `content_footer` VALUES (1,'Isha Jaswal',1,1,'iamishajaswal@gmail.com','footer_icons/Linkedin.png','7982932834','footer_icons/Github.png','Info','Quick Links','Follow On','Github','Linkedin','https://github.com/IshaJaswal04','https://www.linkedin.com/in/isha-jaswal-151014351');
/*!40000 ALTER TABLE `content_footer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `content_formdetail`
--

DROP TABLE IF EXISTS `content_formdetail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `content_formdetail` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `h3` varchar(100) NOT NULL,
  `p` longtext NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `content_formdetail`
--

LOCK TABLES `content_formdetail` WRITE;
/*!40000 ALTER TABLE `content_formdetail` DISABLE KEYS */;
INSERT INTO `content_formdetail` VALUES (1,'Let\'s Build Something','I\'m always open to exciting opportunities and collaborations. Drop a message and let\'s create something amazing together.');
/*!40000 ALTER TABLE `content_formdetail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `content_home`
--

DROP TABLE IF EXISTS `content_home`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `content_home` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `profile_image` varchar(100) DEFAULT NULL,
  `Tagline` varchar(400) DEFAULT NULL,
  `bigHeading` varchar(100) DEFAULT NULL,
  `buttonText` varchar(50) DEFAULT NULL,
  `subHeading` varchar(200) DEFAULT NULL,
  `background_image` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `content_home`
--

LOCK TABLES `content_home` WRITE;
/*!40000 ALTER TABLE `content_home` DISABLE KEYS */;
INSERT INTO `content_home` VALUES (1,'WhatsApp_Image_2025-04-09_at_20.44.44.jpeg','Specializing in React, Django, and MySQL to deliver powerful applications.','Isha Jaswal','Get in Touch','Hello! I\'m','digital-graphic-tablet-laptop-mock-up-with-office-objects-white-background.jpg');
/*!40000 ALTER TABLE `content_home` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `content_logo`
--

DROP TABLE IF EXISTS `content_logo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `content_logo` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `logo` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `content_logo`
--

LOCK TABLES `content_logo` WRITE;
/*!40000 ALTER TABLE `content_logo` DISABLE KEYS */;
INSERT INTO `content_logo` VALUES (3,'test-removebg-preview_ulmQU6l.png');
/*!40000 ALTER TABLE `content_logo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `content_navbar`
--

DROP TABLE IF EXISTS `content_navbar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `content_navbar` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `link` varchar(100) NOT NULL,
  `order` int unsigned NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `content_navbar_chk_1` CHECK ((`order` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `content_navbar`
--

LOCK TABLES `content_navbar` WRITE;
/*!40000 ALTER TABLE `content_navbar` DISABLE KEYS */;
INSERT INTO `content_navbar` VALUES (1,'Home','/',1,1),(2,'About','/about',2,1),(3,'Skill','/skill',3,1),(4,'Contact','/contact',4,1);
/*!40000 ALTER TABLE `content_navbar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `content_project`
--

DROP TABLE IF EXISTS `content_project`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `content_project` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(200) NOT NULL,
  `description` longtext NOT NULL,
  `image` varchar(100) NOT NULL,
  `github_link` varchar(200) NOT NULL,
  `demo_link` varchar(200) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `content_project`
--

LOCK TABLES `content_project` WRITE;
/*!40000 ALTER TABLE `content_project` DISABLE KEYS */;
/*!40000 ALTER TABLE `content_project` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `content_skill`
--

DROP TABLE IF EXISTS `content_skill`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `content_skill` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `logo1` varchar(100) NOT NULL,
  `category2` varchar(100) NOT NULL,
  `four_level1` varchar(100) NOT NULL,
  `four_level2` varchar(100) NOT NULL,
  `four_level3` varchar(100) NOT NULL,
  `four_name1` varchar(100) NOT NULL,
  `four_name2` varchar(100) NOT NULL,
  `four_name3` varchar(100) NOT NULL,
  `one_level1` varchar(100) NOT NULL,
  `one_level2` varchar(100) NOT NULL,
  `one_level3` varchar(100) NOT NULL,
  `category` varchar(100) NOT NULL,
  `category3` varchar(100) DEFAULT NULL,
  `category4` varchar(100) DEFAULT NULL,
  `logo2` varchar(100) NOT NULL,
  `logo3` varchar(100) NOT NULL,
  `logo4` varchar(100) NOT NULL,
  `one_level4` varchar(100) NOT NULL,
  `one_level5` varchar(100) NOT NULL,
  `one_name1` varchar(100) NOT NULL,
  `one_name2` varchar(100) NOT NULL,
  `one_name3` varchar(100) NOT NULL,
  `one_name4` varchar(100) NOT NULL,
  `one_name5` varchar(100) NOT NULL,
  `three_level1` varchar(100) NOT NULL,
  `three_level2` varchar(100) NOT NULL,
  `three_name1` varchar(100) NOT NULL,
  `three_name2` varchar(100) NOT NULL,
  `two_level1` varchar(100) NOT NULL,
  `two_level2` varchar(100) NOT NULL,
  `two_level3` varchar(100) NOT NULL,
  `two_name1` varchar(100) NOT NULL,
  `two_name2` varchar(100) NOT NULL,
  `two_name3` varchar(100) NOT NULL,
  `title` varchar(50) DEFAULT NULL,
  `background_image` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `content_skill`
--

LOCK TABLES `content_skill` WRITE;
/*!40000 ALTER TABLE `content_skill` DISABLE KEYS */;
INSERT INTO `content_skill` VALUES (6,'','Backend','90','80','50','Git','GitHub','Postman','80','40','90','Frontend','Database','Other','','','','90','50','React','Next','HTML','CSS','JS','90','60','MySQL','MongoDB','80','80','70','Django','Flask','REST API','Tech-Stack','dried-leaves-plate_4B9dVW4.jpg');
/*!40000 ALTER TABLE `content_skill` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `content_skillhero`
--

DROP TABLE IF EXISTS `content_skillhero`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `content_skillhero` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `image` varchar(100) NOT NULL,
  `tagline` longtext NOT NULL,
  `item1` varchar(50) NOT NULL,
  `item2` varchar(50) NOT NULL,
  `item3` varchar(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `content_skillhero`
--

LOCK TABLES `content_skillhero` WRITE;
/*!40000 ALTER TABLE `content_skillhero` DISABLE KEYS */;
INSERT INTO `content_skillhero` VALUES (1,'assortment-black-education-day-elements.jpg','I build modern, scalable, and user-friendly websites using the latest technologies.','React','Django','MySQL');
/*!40000 ALTER TABLE `content_skillhero` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `content_softskills`
--

DROP TABLE IF EXISTS `content_softskills`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `content_softskills` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(50) NOT NULL,
  `desc` longtext NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `content_softskills`
--

LOCK TABLES `content_softskills` WRITE;
/*!40000 ALTER TABLE `content_softskills` DISABLE KEYS */;
INSERT INTO `content_softskills` VALUES (1,'Communication','Clear and effective interaction with clients and teammates'),(2,'Leadership','Guiding and motivating teams to achieve goals'),(3,'Discipline','Consistent, focused, and reliable work ethic.'),(4,'Problem Solving','Creative and analytical approach to challenges');
/*!40000 ALTER TABLE `content_softskills` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_auth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=99 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=69 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-02 13:54:42
